{% extends "base.html"%}
{% block content %}



<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">Articles</h1>

    
    <div class="card shadow mb-4">
        <!-- Card Header - Accordion -->
        <div class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="false"
            aria-controls="collapseCardExample">
            <h6 class="m-0 font-weight-bold text-primary">Read Naturebook</h6>
        </div>


        <!-- Card Content - Collapse -->
        <div class="collapse show" id="collapseCardExample">
            <div class="card-body">
                
                <img class="img-responsive" src=" {{i.images.url}} " alt="{{ i.images.url }}"
                    style="width: 50%; height: 300px; float: left; margin-right: 30px;">
                
                <div>
                </div>
                read Nature Book
                <form action="" method="POST">
                    {% csrf_token %}
                    <input type="text" name="grandpa" id="" value="1">
                    <button type="submit"> deed done </button>
                </form>
                
            </div>
        </div>
    </div>



</div>

{% endblock content%}